[defaults]
inventory = ./inventory
# No se especifica concretamente qué usuario es el remoto
remote_user = ansible
timeout = 10

[privilege_escalation]
become = true
become_method = sudo
become_user = ansible
become_ask_pass = true

[colors]
changed = blue